.mantra {
    display: flex;
    position: relative;
    justify-content: space-around;
    max-height: 25px;
    padding: 0.5rem;
    font-size: large;
    font-weight: 200;
    letter-spacing: 0.15em;
    transition: all 0.3s 0.1s cubic-bezier(.79,.14,.15,.86);
  }
  
  .mantra:hover{
      font-weight: 500;
      letter-spacing: 0.3em;
  } 

.nav-links{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.4rem;
    letter-spacing: 0.1em;
    border: solid;
    border-width: 1px;
}


ul.nav-links{
    display:flex;
    justify-content:space-evenly;
    list-style: none;
    li {
        color: rgba(0, 0, 0, 0.75);
        font-size: 1em;
        font-weight: 500;
        transition: all 0.3s 0.1s ease-in-out;
    }
    li:hover{
        color: #b1a2a2;
    }
}


.logo-container{
    display: grid;
    justify-items: center;
}

.nav-icons{
    display: flex;
    justify-self: right;
    justify-content: space-around;
    line-height: normal;
    a{
        color: black;
        transition: colour;
    }
    a:hover{
        color: #cac8c8;
    }
    svg{
        margin: 0.5rem;
    }
}

.logo{
    max-width: 17vh;
    max-height: auto;
}

a{
    text-decoration: none;
}