.Toastify__toast {
    height: 60px;
    width: 320px;
    border-radius: 5px;
    border: 1px solid black;
    background-color:  #71f0cc;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px;
    --toastify-color-progress-light:rgb(235, 169, 48);
    transition: all 0.1s ease-in-out;
}

.Toastify__toast:hover{
    background-color:wheat ;
    --toastify-color-progress-light: #39e6b5;
}

.Toastify__toast-body > div:last-child {
    font-family: Segoe UI Light;
    letter-spacing: 0.1em;
  }


